#** Data Types and Structures Assignment**

Q 1: What are data structures, and why are they important?

  A 1: Data structures are a specific way of organizing data in a specialized     format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively.
  They are important as they are a means of handling information, rendering the data for easy use.

Q 2: Explain the difference between mutable and immutable data types with examples.

  A 2: Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can't be changed.
  Example: Mutable data type such as sets, list can be modified.
  Immutable data type such as tuple, strings cannot be modified.

Q 3: What are the main differences between lists and tuples in Python.

  A 3: The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists.

Q 4:  Describe how dictionaries store data.

  A 4: Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Q 5: Why might you use a set instead of a list in Python.

  A 5: Set is used instead of list in Python because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform operations.

Q 6: What is a string in Python, and how is it different from a list.

  A 6: A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Q 7:  How do tuples ensure data integrity in Python.

  A 7: Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

Q 8: What is a hash table, and how does it relate to dictionaries in Python?

  A 8: In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

Q 9: Can lists contain different data types in Python?

  A 9: Lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list. Different elements of a list can be accessed by integer indices where the first element of a list has the index of 0.

Q 10: Explain why strings are immutable in Python.

  A 10: Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc. The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

Q 11: What advantages do dictionaries offer over lists for certain tasks.

  A 11: Lists stores only values. However, dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.

Q 12: Describe a scenario where using a tuple would be preferable over a list.

  A 12: Tuples are preferred over lists in the following cases: When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.
  Example: Employee ID, Aadhar Card, Bank account number etc.

Q 13: How do sets handle duplicate values in Python.

  A 13: Sets are used to remove duplicate data from the list, however, the order of the data is not fixed.

Q 14: How does the “in” keyword work differently for lists and dictionaries.

  A 14: The "in" operator tests for value equality in lists. It returns True if the values are equal.
  The "in" operator for dictionaries (dict) checks for the presence of a key.

Q 15: Can you modify the elements of a tuple? Explain why or why not.

  A 15: In Python, the elements of a tuple cannot be modified. Because Tuple is immutable as they have a fixed type (you can't change a tuple element to have a different type) and fixed length (you can't add a new type to the end of an existing tuple).

Q 16: What is a nested dictionary, and give an example of its use case.

  A 16: Nested dictionary refers to the dictionary inside a dictionary. In simple words, it refers to the dictionary, which consists of a set of multiple dictionaries. It is used to store the data values in key-value pairs. Nesting Dictionary means putting a dictionary inside another dictionary.
  Example:

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

  In the above program, people is a nested dictionary. The internal dictionary 1 and 2 is assigned to people. Here, both the dictionary have key name, age , sex with different values. Now, we print the result of people.

Q 17: Describe the time complexity of accessing elements in a dictionary.

  A 17: Python have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

Q 18: In what situations are lists preferred over dictionaries.

  A 18: Lists are linear in nature whereas dictionaries stored the data in key-value pairs.  
  A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

Q 19: Why are dictionaries considered unordered, and how does that affect data retrieval.

  A 19: A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.
  This meant that when you accessed or printed the items, the order could vary, affecting data retrival.

Q 20:  Explain the difference between a list and a dictionary in terms of data retrieval.

  A 20: Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys. The list allows duplicate items, while the dictionary does not allow any duplicate keys. A list can store any data type.

**Practical Questions**

In [ ]:
# Q 1: Write a code to create a string with your name and print it.

In [ ]:
# A 1: Name written in double quote to get print
Name= "Megha Gangrade"
print(Name)

Megha Gangrade

In [ ]:
# Q 2: Write a code to find the length of the string "Hello World".

In [ ]:
# A 2: Len is used to find length of string
string= "Hello World"
print(len(string))

11

In [ ]:
# Q 3: Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Q 3: Slicing of string
string= "Python Programming"
print(string[0:3])

Pyt

In [ ]:
# Q 4:  Write a code to convert the string "hello" to uppercase.

In [ ]:
# A 4: Convert to upper case
string= "hello"
print(string.upper())

HELLO

In [ ]:
# Q 5: Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# A 5: Replace word in string
string= "I like apple"
print(string.replace("apple","orange"))

I like orange

In [ ]:
# Q 6:  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# A 6: Create a list and print.
list= [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Q 7: Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# A 7: Append a number to a list.
list= [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# Q 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Q 8: Remove a number from the list.
list= [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# Q 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Q 9: Access element in the list.
list= ['a','b','c','d']
print(list[1])

b

In [ ]:
# Q 10: Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# A 10: Reverse a list.
list= [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# Q 11: Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
# A 11: Create a tuple and print
tuple= (10,20,30)
print(tuple)

(10, 20, 30)

In [ ]:
# Q 12: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
# A 12: Access element in Tuple.
tuple= ('apple','banana','cherry')
print(tuple[0])

apple

In [ ]:
# Q 13: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
# A 13: Counting the number in tuple.
tuple= (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [ ]:
# Q 14:  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# A 14: Find the index of the element in the tuple.
tuple= ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [ ]:
# Q 15: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
# A 15: Check if the element is in the tuple.
tuple= ('apple', 'orange', 'banana')
print('banana' in tuple)

True

In [ ]:
# Q 16: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
# A 16: Create a set.
set= {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
# Q 17: Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
# A 17: Add element to the set.
set= {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [ ]:
# Question from 18 to 24 is repeating hence not attempting.
# Q 18 is similar to Q 11
# Q 19 is similar to Q 12
# Q 20 is similar to Q 13
# Q 21 is similar to Q 14
# Q 22 is similar to Q 15
# Q 23 is similar to Q 16
# Q 24 is similar to Q 17